.block {
    display: flex;
    align-items: center;
    span {
        font-size: 16px;
        margin-right: 10px;
    }
    input {
        width: 300px;
    }
}
.wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}